.Statistics {
  list-style: none;
}
.Statistics__item {
  list-style: none;
  margin: 10px;
  font-size: 18px;
  font-weight: 400;
}
.Statistics__name {
  list-style: none;
  font-weight: 600;
  display: inline-block;
  padding-right: 15px;
}
.buttonList {
  list-style: none;
}
