.section {
  list-style: none;
  flex-basis: calc(100% / 2 - 10px);
}
.section__title {
  list-style: none;
  font-size: 25px;
  text-align: center;
  margin-bottom: 25px;
  text-decoration: underline;
}
